.login {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 20%;
  height: 25%;
  padding: 25px;

  h2 {
    fontSize: 34px;
    color: #fff;
    font-family: Microsoft Yahei, sans-serif;
    margin-bottom: 10px;
  }
}
