.shop-detail{
  background-color: #fbfbfb;
  // border: 1px solid #dfe6ec;
  padding: 0 50px;
    .td-name{
      width: 90px;
      color: #99a9bf;
    }
    .td-value{
      width: 600px;
    }
    .tr{
      line-height: 30px;
      padding: 11px 12px 11px 0;
      box-sizing: border-box;
    }
}
